# Fine-Tuning weights, checkpoints, and local training logs
climate_model_results/
checkpoint-*/
results/
logs/

# macOS system files (Crucial for MacBook users)
.DS_Store
.AppleDouble
.LSOverride

# Jupyter Notebook specific auto-saves
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python caches and environments
__pycache__/
*.py[cod]
.venv/
venv/
env/
